table {
  margin: 20px 0;
  width: $table-width;
  border-collapse: collapse;
  border-spacing: 0;
  /* border: 1px solid var(--table-border-color); */
  font-size: $table-font-size;
  table-layout: fixed;
  word-wrap: break-all;
  border-radius: 12px;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--table-border-color);
}

/*
table>tbody>tr {
  &:nth-of-type(odd) {
    background: var(--table-row-odd-bg-color);
  }

  &:hover {
    background: var(--table-th-background-color);
  } 
}
*/

caption, th, td {
  padding: $table-cell-padding;
  text-align: $table-content-alignment;
  vertical-align: $table-content-vertical;
  font-weight: normal;
}

th, td {
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
}

th {
  padding-bottom: 10px;
  font-weight: $table-th-font-weight;
  background-color: var(--table-th-background-color);
  padding: 20px;
}

/* 让表头的顶部圆角生效, 这个radius要等于table的 */
th:first-child {
  border-top-left-radius: 12px;
}

th:last-child {
  border-top-right-radius: 12px;
}

td { 
  border-bottom-width: 1px;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid var(--table-border-color);
}
