//Custom styles.

 /* 
code {
	color: #ff7600;
	background: #fbf7f8;
	margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
	margin: 5px 0;
	padding: 5px;
	border-radius: 3px;
}
.highlight, code, pre {
	border: 1px solid #d6d6d6;
}

// 主页文章添加阴影效果
.post {
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
} */

/* 文章的TOC全部展开 */
.post-toc .nav .nav-child { 
	show() if not hexo-config('toc.collapse_all');
}

/*toc目录标题的箭头小图标*/
.sidebar-nav-toc i,
.post-toc-content ol.nav li.nav-item i {
    display: inline-block;
    margin-left: -0.9em;
    width: 1.6em;
    color: #b3b3b3;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-nav-toc i:hover,
.post-toc-content ol.nav li.nav-item i:hover {
    color: #fff;
}
/*关联图标的 Class*/
.sidebar-nav-toc i.hide,
.post-toc-content ol.nav li.nav-item i.hide {
    display: none;
}


.wobbleTransparentBK {
	background-color: rgba(0,0,0,0) !important;
}

.wobbleTransparentLine {
	border-color: rgba(0,0,0,0) !important;
}


.headroom {
	position:fixed;
	z-index:2040;
	right:0;
	left:0;
	top:0;
	/* box-shadow: 0 1px 3px rgba(26,26,26,.1); */
	/* box-shadow: 0em 0.625em 7.75em 0 #000; */
	transition:transform .25s ease-in-out;
	will-change:transform;
	/* +mobile() {
		box-shadow: 0em 0.625em 2.75em 0 #000;
	} */
}

.headroom--pinned {
	transform:translateY(0)
}

.headroom--unpinned  {
	transform:translateY(-120%);
}

.headroom-local-search {
	position: absolute;
    z-index: 1040;
    /* width: 400px; */
    top: 90px;
	right: 0;
	transition:transform .25s ease-in-out;
}


/* 文章```代码块顶部样式 */
.highlight figcaption {
	margin: 0em;
	padding: 0.5em;
	background: #eee;
	border-bottom: 1px solid #e9e9e9;
}

.highlight figcaption a {
    color: rgb(80, 115, 184);
}


/*代码块复制按钮*/
.highlight-wrap{
	position: relative;
}
.btn-copy {
	display: inline-block;
	cursor: pointer;
	background-color: #d5d5d5;
	/* background-image: linear-gradient(#fcfcfc,#eee); */
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	outline: none;
	color: #333;
	-webkit-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	padding: 2px 6px;
	position: absolute;
	right: 7px;
	top: 7px;
	opacity: 0;
    width: 28px;
    height: 28px;
}
.btn-copy span {
	margin-left: 5px;
}
.highlight-wrap:hover .btn-copy{
	opacity: 1;
}

  

// IE自动隐藏滚动条
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
  
// Chrome 取消滚动条占位
html { 
  overflow: overlay;
}
  
// webkit内核浏览器如Chrome等的自定义滚动条样式代码
// 滚动条宽度  
::-webkit-scrollbar {  
  width: 8px;
  height: 8px;
}  
  
// 轨道样式   
::-webkit-scrollbar-track {  
  
}  
  
// Handle样式   
::-webkit-scrollbar-thumb {  
  border-radius: 10px;  
  /* background: rgba(0,0,0,0.2);    */
  background: #ffcacaff;   
}  
  
// 当前窗口未激活的情况下  
::-webkit-scrollbar-thumb:window-inactive {  
  background: rgba(0,0,0,0.1);   
}  
  
// hover到滚动条上  
::-webkit-scrollbar-thumb:hover{  
  background-color: rgba(0,0,0,0.3);  
}  
  
// 滚动条按下  
::-webkit-scrollbar-thumb:active{  
  background-color: rgba(0,0,0,0.4);  
}