//Custom styles.

 /* 
code {
	color: #ff7600;
	background: #fbf7f8;
	margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
	margin: 5px 0;
	padding: 5px;
	border-radius: 3px;
}
.highlight, code, pre {
	border: 1px solid #d6d6d6;
}

// 主页文章添加阴影效果
.post {
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
} */

/* 文章的TOC全部展开 */
.post-toc .nav .nav-child { 
	show() if not hexo-config('toc.collapse_all');
}

/*toc目录标题的箭头小图标*/
.sidebar-nav-toc i,
.post-toc-content ol.nav li.nav-item i {
    display: inline-block;
    margin-left: -0.9em;
    width: 1.6em;
    color: #b3b3b3;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-nav-toc i:hover,
.post-toc-content ol.nav li.nav-item i:hover {
    color: #fff;
}
/*关联图标的 Class*/
.sidebar-nav-toc i.hide,
.post-toc-content ol.nav li.nav-item i.hide {
    display: none;
}


.wobbleTransparentBK {
	background-color: rgba(0,0,0,0) !important;
}

.wobbleTransparentLine {
	border-color: rgba(0,0,0,0) !important;
}


.headroom {
	position:fixed;
	z-index:2040;
	right:0;
	left:0;
	top:0;
	/* box-shadow: 0 1px 3px rgba(26,26,26,.1); */
	/* box-shadow: 0em 0.625em 7.75em 0 #000; */
	transition:transform .25s ease-in-out;
	will-change:transform;
	/* +mobile() {
		box-shadow: 0em 0.625em 2.75em 0 #000;
	} */
}

.headroom--pinned {
	transform:translateY(0)
}

.headroom--unpinned  {
	transform:translateY(-120%);
}

.headroom-local-search {
	position: absolute;
    z-index: 1040;
    /* width: 400px; */
    top: 90px;
	right: 0;
	transition:transform .25s ease-in-out;
}


/* 文章```代码块顶部样式 */
.highlight figcaption {
	margin: 0em;
	padding: 0.5em;
	background: #eee;
	border-bottom: 1px solid #e9e9e9;
}

.highlight figcaption a {
    color: rgb(80, 115, 184);
}