.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 0 15px;
    color: #222222;
    border-radius: 30px;
    background-color: #999999;
    border-bottom: none;

    i {
      color: rgb(252, 100, 35);
      /* font-size: 14px; */
    }

    &:hover {
      color:white;
      background: rgb(252, 100, 35);

      i { color: white; }
    }
  }
}
