
.post-toc-empty {
  font-size: 14px;
  color: $grey-dim;
}

.post-toc-wrap { overflow: hidden; }

.post-toc {
  overflow: auto;
  overscroll-behavior: contain;
}

.post-toc ol {
  margin: 0;
  padding: 0 2px 0px 10px;
  text-align: left;
  list-style: none;
  font-size: 14px;

  & > ol { padding-left: 0; }

  a {
    the-transition();
    transition-property: all;
    color: var(--toc-link-color);
    border-bottom-color: var(--toc-link-border-color);

    &:hover {
      color: var(--toc-link-hover-color);
      border-bottom-color: var(--toc-link-hover-border-color);
    }
  }
}

.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap if !hexo-config('toc.wrap');
  line-height: 1.8;
}

.post-toc .nav-item.active::before {
  color: var(--toc-link-active-color);
}


.post-toc .nav-item::before {
  content: "●  ";  /* 添加 ● 并带一个空格 */
  color: inherit;  /* 继承文字颜色 */
  font-size: 1em;  /* 确保大小和文字一致 */
  margin-right: 5px; /* 调整与文字的间距 */
}

.post-toc .nav-level-1::before {
  content: "●  ";  /* 添加 ■ 并带一个空格 */
}

.post-toc .nav-level-2::before {
  content: "◆  ";  /* 添加 ■ 并带一个空格 */
  +mobile() {
    font-size: 60%;
  }
}

.post-toc .nav-level-3::before {
  content: "▲  ";  /* 添加 ■ 并带一个空格 */
  font-size: 60%;
}

.post-toc .nav-level-4::before {
  content: "■  ";  /* 添加 ■ 并带一个空格 */
  +mobile() {
    font-size: 60%;
  }
}

.post-toc .nav-level-5::before {
  content: "⬟  ";  /* 添加 ■ 并带一个空格 */
  font-size: 60%;
}

.post-toc .nav-level-6::before {
  content: "⬣  ";  /* 添加 ■ 并带一个空格 */
  font-size: 90%;
}

.post-toc .nav .nav-child {
  display: none;
  /* max-height: 0;
  overflow: hidden; */
  /* transition: max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1);  (I commented out this line because it causes some TOC items to jump) */
}

.post-toc .nav .nav-expand > .nav-child {
  display: block;
  /* max-height: 2000px; */
}

.post-toc .nav .active > .nav-child {
  display: block;
  /* max-height: 2000px; */
}

.post-toc .nav .active-current > .nav-child {
  display: block;
  max-height: 2000px;
  & > .nav-item {
    display: block;
    /* max-height: 2000px; */
  }
}

.post-toc .nav .active > a {
  color: var(--toc-link-active-color);
  border-bottom-color: var(--toc-link-active-border-color);
}

.post-toc .nav .active-current > a {
  color: var(--toc-link-active-current-color);
  &:hover {
    color: var(--toc-link-active-current-border-color);
  }
}

