.post-button {
  margin-top: 50px;

  .btn {
    color: #555;
    font-size: 14px;
    background: #eee;
    border-radius: 50%;
    line-height: 2;
    margin: 0 4px 8px 4px;
    /* border: 2px solid #888 !important; */
    /* box-shadow: 0.475em 0.375em 0.45em 0 #bbb; */
    padding: 8px 18px;
  }
  .btn:hover {
    /* @extend .btn:hover; */
    color:#fff!important;
    background: #888
  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
