// Menu
// --------------------------------------------------
.site-nav-toggle {
  position: static;
  float: left;
}


.menu {
  float: right;
  margin: 4px 0 0 0;

  +mobile() {
    margin: 20px 0 0 0;
    padding: 0;
  }

  br { display: none; }

  .menu-item {
    /* margin: 0; */
    +mobile() { 
      display: block; 
      margin: 3px 0 3px 0;
    }
  }

  .menu-item a {
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 12px;
    /* transition-property: background; */

    +mobile() {
      text-align: left;
      border-radius: 8px;
    }

    &:hover { 
      background: #999;
      /* box-shadow: inset 0.475em 0.375em 0.45em 0 #999; */
      color: #fff;
    }
  }
  
  .menu-item-active a {
    background: #999;
    /* box-shadow: inset 0.475em 0.375em 0.45em 0 #888; */
    color: #fff;
    +mobile() {
      background: #ddd;
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 15px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $grey;
      }
    }
  }

  a::before {
      display: none;

      +mobile() { display: block; }
    }

  +mobile() { float: none; }
}

.menu-left {   
  float: left;
  margin-left: 20px;    
  +mobile() 
  { 
    float: none; 
    margin-left: 0px;
  }
}