// Menu
// --------------------------------------------------
.site-nav-toggle {
  position: static;
  float: left;
}


.menu {
  margin: 4px 0 0 0;

  +mobile() {
    margin: 20px 0 0 0;
    padding: 0;
  }

  br { display: none; }

  .menu-item {
    /* margin: 0; */
    +mobile() {
      display: block;
      margin: 3px 0 3px 0;
    }
  }

  .menu-item a {
    padding: 0 10px;
    background: none;
    border: none;
    border-radius: 12px;
    transition-property: background;

    menu-item-background-style() {
      background-image: -webkit-gradient(linear, left top, left bottom, from($grey-dark), to($grey-dark));
      background-image: -webkit-linear-gradient($grey-dark, $grey-dark);
      background-image: linear-gradient($grey-dark, $grey-dark);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center bottom, center -webkit-calc(100% - 1px);
      background-position: center bottom, center calc(100% - 1px);
      background-size: 0 1px;
      -webkit-transition: background 0.3s ease-out;
      transition: background 0.3s ease-out;
    }

    +desktop() {
      menu-item-background-style()
    }

    +tablet() {
      menu-item-background-style()
    }

    +mobile() {
      text-align: left;
      border-radius: 8px;
    }

    &:hover {
      /* background: #999; */
      /* box-shadow: inset 0.475em 0.375em 0.45em 0 #999; */
      /* color: #fff; */

      +desktop() {
        /* border-bottom: 1px solid rgb(15, 15, 15); */
        /* width: 100px; */
        /* transform: scaleX(1); */
        background-size: 100% 1px;
      }

      +tablet() {
        /* border-bottom: 1px solid rgb(15, 15, 15); */
        /* width: 100px; */
        /* transform: scaleX(1); */
        background-size: 100% 1px;
      }
    }
  }

  .menu-item-active a {
    /* background: #999; */
    /* box-shadow: inset 0.475em 0.375em 0.45em 0 #888; */
    /* color: #fff; */
    menu-item-active-background-style() {
      background-image: -webkit-gradient(linear, left top, left bottom, from($grey-dark), to($grey-dark));
      background-image: -webkit-linear-gradient($grey-dark, $grey-dark);
      background-image: linear-gradient($grey-dark, $grey-dark);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center bottom, center -webkit-calc(100% - 1px);
      background-position: center bottom, center calc(100% - 1px);
      background-size: 100% 1px;
    }

    +desktop() {
      menu-item-active-background-style()
    }

    +tablet() {
      menu-item-active-background-style()
    }

    +mobile() {
      background: #ddd;
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 15px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $grey;
      }
    }
  }

  a::before {
      display: none;

      +mobile() { display: block; }
    }

  +mobile() { float: none; }
}

.menu-left {
  margin-left: 20px;
  +mobile()
  {
    float: none;
    margin-left: 0px;
  }
}
